# Archivos de compilación
bin/
obj/

# Archivos de usuario y config locales
*.user
*.suo
*.userosscache
*.sln.docstates

# Configuración de VS
.vscode/
*.vsp
*.vspx
*.vspscc
*.vssscc
.vs/

# Archivos temporales
*.log
*.tmp
*.bak

# Paquetes y dependencias
packages/
*.nupkg
*.snupkg

# Carpetas ocultas de sistema
Thumbs.db
Desktop.ini

# Archivos de publicación
publish/

# Archivos PDF generados
*.pdf
